.achievements__categories {
    margin-bottom: 2rem;
    font-size: 4rem;
}

.achievements__item {
    margin-bottom: 2rem;
}

.achievements__item-value {
    margin-bottom: .5rem;
    font-size: 3rem;
    font-weight: 700;
}

.achievements__item-caption {
    font-size: 1.4rem;
}
