.company {
    margin-bottom: 20rem;
    overflow: hidden;

    &--apple {
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }

    &--microsoft {
        font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    &--aramco {
        font-family: Ghawar-Light,Helvetica,Arial,sans-serif;
    }

}

.company__video {
    margin-bottom: 4rem;
    width: 100%;
    height: 100vh;
}

.company__videos {
    width: 100%;
    height: 100%;
}

.company__name {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 5.6rem;
    font-weight: 600;



    a {
        color: inherit;
        transition: text .2s linear;
        text-decoration: none;
        svg {
            width: 30rem;
            height: auto;
        }
    }

    &:hover {
        a {
            text-decoration: underline;
        }
    }
}

.company__headquarters {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 14rem;
    width: 100%;
    height: 80rem;


    background: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;

    &--apple {
        background-image: url(../img/apple/headquarters/headquarters4k.jpg);
    }

    &--microsoft {
        background-image: url(../img/microsoft/headquarters/headquartersFullHd.jpg);
    }

    &--aramco {
        background-image: url(../img/aramco/headquarters/headquarters.jpg);
    }

    &--alphabet {
        background-image: url(../img/alphabet/headquarters/headquarters4k.jpg);
    }

    &--tesla {
        background-image: url(../img/tesla/headquarters/headquartersFullHd.jpg);
    }

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;

        position: absolute;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(0deg, rgba($black, 1) 0%, rgba($white,0) 100%);
    }
}

.company__location {
    margin-bottom: 13rem;
    color: $white;
    font-size: 4.8rem;
    font-weight: 600;
    opacity: .8;

    z-index: 2;
}

.company__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 4rem;
    overflow: hidden;

    @include breakpoint($mobile-bp) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.company__tagline {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 5rem;
    font-weight: 700;


    @include breakpoint($mobile-bp) {
        grid-area: auto;
    }
}

.company__leader-info {
    margin-top: auto;
    padding-bottom: 2rem;

    font-size: 3.2rem;
    font-weight: 300;
    letter-spacing: .011em;


    span {
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: .008em;
    }
}

.company__leader-photo {
    grid-area: 1 / 2 / 4 / 3;
    margin-top: auto;
    @include breakpoint($mobile-bp) {
        grid-area: auto;
    }
}

.company__leader-img {
    margin-bottom: -3px;

    &--microsoft {
        margin-bottom: -50%;
    }
}

.company__footer {
    text-align: center;
}

.company__table {
    margin-bottom: 14rem;

    table {
        margin: 0 auto;
    }

    thead {
        border-bottom: 1px solid $black;
    }

    tr {
        transition: background .2s linear;
        &:hover {
            background-color: rgba($black, .05);
        }
    }

    th {
        padding: 2rem;
        min-width: 20rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;

        @include breakpoint($mobile-bp) {
            padding: 0.5rem;
            min-width: auto;
        }
    }

    td {
        padding: 5rem 5rem 2rem;
        border-bottom: 1px solid $black;
        text-align: center;

        &:nth-child(1) {
            padding-left: 0;
            text-align: left;
            font-weight: 600;
        }

        @include breakpoint($mobile-bp) {
            padding: 5rem .5rem 2rem;
            min-width: auto;
        }
    }

}






















