.footer {
    margin-top: auto;
}

.footer__inner {

}

.footer__media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.footer__media-item {
    padding: 7rem 0;
    border: 2px $black solid;
    background-color: $red;

    transition: background .2s linear;

    a {
        width: 100%;
        height: 100%;
    }

    &:hover {
        border-color: $black;
        background-color: darken($red, 10%);

        .footer__icon {
            opacity: .7;
        }

    }
}

.footer__icon {
    margin-left: 3rem;
    max-width: 7rem;
    max-height: 7rem;

    transition: opacity .2s linear;

    &:hover {
        opacity: .9;
    }
}


