.header {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    transition: box-shadow .2s linear;

    &--none {
        display: none;
    }

    &--dark {
        //box-shadow: 0 10px 25px rgb(72 72 72 / 15%);
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__chsu {
    width: 6rem;
    height: auto;

    transition: opacity .2s linear;

    &:hover {
        opacity: .7;
    }
}
