.header {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__chsu {
    width: 6rem;
    height: auto;

    transition: opacity .2s linear;

    &:hover {
        opacity: .7;
    }
}
