<header id="header" class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__chsu" href="https://www.chsu.ru/">
                <img src="assets/img/CSU.png" alt="chsu">
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__link">
                        <a href="index.html">Главная</a>
                    </li>
                    <li class="nav__link">
                        <a href="rating.html">Рейтинг компаний</a>
                    </li>
                    <li class="nav__link nav__link-has-children">
                        <a href="#">Компании</a>
                        <ul class="nav__list-sub">
                            <li class="nav__link"><a href="apple.html">Apple</a></li>
                            <li class="nav__link"><a href="microsoft.html">Microsoft</a></li>
                            <li class="nav__link"><a href="aramco.html">Saudi Aramco</a></li>
                            <li class="nav__link"><a href="alphabet.html">Alphabet</a></li>
                            <li class="nav__link"><a href="tesla.html">Tesla</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

