@font-face {
    font-family: 'Gotham';
    src: url('fonts/tesla/GothamRegular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/tesla/GothamMedium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/tesla/GothamBold.otf');
    font-weight: 700;
    font-style: normal;
}
